@custom-media --tablet-portrait (480px < width <= 786px);
@custom-media --tablet-landscape (786px < width <= 1024px);
@custom-media --tablet-and-up (width > 480px);
@custom-media --tablet-landscape-and-up (width > 786px);
@custom-media --desktop-and-up (width > 1024px);

.nav {
  position: relative;
  height: 3em;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
}

.siteWrapper {
  display: none;
}

.mobileWrapper {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: flex-end;
  padding: 0 3em;
}

.mobileNavBar {
  cursor: pointer;
  margin-right: 10%;
}

.mobileNavBar .icon {
  color: var(--colorBlack);
}

.topText {
  margin: auto 0;
  text-transform: uppercase;
  word-spacing: 5px;
}

.logo {
  padding-right: 15px;
  font-size: 130%;
  word-spacing: 5px;
}

.mobileBarLinksWrapper {
  height: 100vh;
  background-color: var(--colorNeutralLight);
}

.right {
  margin: auto 0;
  margin-left: auto;
  justify-content: flex-end;
  align-self: baseline;
}

@media (--tablet-landscape-and-up) {
  .mobileWrapper {
    display: none;
  }

  .mobileBarLinksWrapper {
    display: none;
  }

  .siteWrapper {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
    padding: 0 3em;
  }

}
