.footer {
  text-align: center;
  position: fixed;
  z-index: 999;
  /* stretch */
  bottom: 0;
  left: 0;
  right: 0;
  color: var(--colorNeutralDark);
  background-color: var(--colorNeutralLight);
  height: 3em;
  padding-left: 3em;
}

.companyTag {
  font-size: 50%;
  margin: auto 0;
  float: left;
}

.phenomicReference {
  font-size: 0.75rem;
  text-decoration: none;
}

.phenomicReferenceName {
  font-weight: 100;
}

.footer a {
  color: var(--colorBlack);
}
