.footer {
  color: var(--colorBlack);
  background: var(--colorWhite);
  text-align: center;
}

.phenomicReference {
  font-size: 0.75rem;
  text-decoration: none;
}

.phenomicReferenceName {
  font-weight: 100;
}

.footer a {
  color: var(--colorBlack);
}
