@custom-media --tablet-portrait (480px < width <= 786px);
@custom-media --tablet-landscape (786px < width <= 1024px);
@custom-media --tablet-and-up (width > 480px);
@custom-media --desktop-and-up (width > 1024px);

figure {
  flex-basis: 33%;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.image {
  margin: 0 0 1%;
  position: relative;
}

.emptySpan {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 1s;
}

.emptySpan:hover {
  background-color: rgba(255, 255, 255, .2);
}

figcaption {
  background-color: rgba(255, 255, 255, .5);
  text-transform: uppercase;
  display: block;
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  padding: 1.5%;
  text-align: right;
}

@media (--desktop-and-up) {
  figure {
    width: 75%;
    align-self: center;
  }
}
